/* GENERALS  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper{
    display: flex;
}

.sidebar{
    background-color: black;
    flex-basis: 10%;
    height: calc( 100vh - 80px);
}

.main-content{
    background-color: rgb(18, 4, 80);
    flex-grow: 1;
    height: calc( 100vh - 80px);
    padding-top: 70px;
    margin-bottom: 80px;
    overflow-y: scroll;
}

footer{
    height: 80px;
    background-color: rgb(49, 47, 47);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* SIDEBAR  */

.sidebar{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.sidebar li{
    margin: 5px 0 5px 0;
}

.sidebar i{
    width: 100%;
    height: 100%;
}

.sidebar a{
color: white;
font-size: 1.5em;
width: 100%;
height: 100%;
}


/* HEADERBAR  */

header a{
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    padding: 12px 25px 12px 25px;
    font-size: 0.8em;
}