/* GENERALS  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);

}

.wrapper{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    flex-basis: 10%;
    height: 100%;
}

.main-content{
    background-color: rgb(18, 4, 80);
    flex-grow: 1;
    height: 100%;
}

footer{
    height: 80px;
    background-color: rgb(49, 47, 47);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* SIDEBAR  */

.sidebar{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.sidebar li{
    margin: 5px 0 5px 0;
}

.sidebar i{
    width: 100%;
    height: 100%;
}

.sidebar a{
color: white;
font-size: 1.5em;
width: 100%;
height: 100%;
}
