/* GENERALS  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 40px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


main{
    background-color: rgb(18, 4, 80);
    flex-grow: 1;
    height: calc( 100vh - 80px);
    padding-top: 70px;
    margin-bottom: 80px;
    overflow-y: scroll;
}

footer{
    height: 80px;
    background-color: rgb(49, 47, 47);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h2 , h3{
    color: white;
}

h2{
    font-size: 2.5em;
    margin-left: 20px;
}

h3{
    margin-top: 10px;
}

span{
    color: lightgray;
    margin-top: 10px;
    margin-left: 20px;
}

img{
    width: 100%;
    height: 100%;
}

section{
    margin-top: 100px;
}


/* UTILITIES  */

.wrapper{
    display: flex;
    height: calc( 100vh - 80px);
}

/* .container{
    width: 85%;
    margin: 0 auto;
} */


.row{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.box{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-cont , .selector{
    flex-basis: 30%;
}

.invisible{
    display: none;
}


/* SIDEBAR  */

.sidebar{
    flex-basis: 40px;
    flex-shrink: 0;
    height: calc( 100vh - 80px);;
    display: flex;
    flex-direction: column;
    color: rgb(216, 210, 210);
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.sidebar li{
    margin: 5px 0 5px 0;
    text-align: center;
}


.bottom-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-arrow-circle-down{
    font-size: 12px;
}

.sidebar img{
    height: 100%;
    width: 90%;
}

.sidebar a{
color: white;
font-size: 1.5em;
/* width: 100%;
height: 100%; */
}


/* HEADERBAR  */

header a{
    background-color: transparent;
    color: white;
    border: 1px white solid;
    border-radius: 20px;
    padding: 12px 25px 12px 25px;
    font-size: 0.8em;
    margin-right: 20px;
}



/* MAIN  */

/* nav bar  */

main .main-navbar{
    margin-top: 30px;
}

main nav{
    margin-bottom: 50px;
}

main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main nav li{
    height: 100%;
    margin: 10px;
}

main nav a{
    height: 100%;
    color: grey;
    font-size: 15px;
}


/* section popular */

.popular .box{
    border-radius: 50%;
    overflow: hidden;
}


/* FOOTER  */

footer span {
    font-size: 12px;
    margin: 0;
}

footer h3{
    font-size: 15px;
    margin: 0;
}


.footer-cont{
    display: flex;
    align-items: center;
}

.footer-cont:last-child{
    justify-content: flex-end;
}

.footer-item{
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
}


footer img{
    width: 40px;
    height: 40px;
}

.selector{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selector-row{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.selector i{
    font-size: 20px;
    margin: 0 5px 0 5px;
}

footer hr{
    width: 50px;
}

.bar{
    margin: 5px 5px 0 5px;
    width: 90px;
    height: 3px;
    background-color: rgba(104, 100, 100, 0.966);
    border-radius: 2px;
}

.progress-bar{
    width: 30%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}


/* HOVER  */

.box:hover{
    filter: opacity(0.4);
}

.main-navbar a:hover{
    color: white;
}

.btn:hover{
    transform: scale(1.05);
}



/* MEDIA QUERY */

@media screen and (min-width: 576px){
    .invisible{
        display: flex;
    }

    .sidebar{
        flex-basis: 200px;
        flex-shrink: 0;
        align-items: flex-start;
        padding-left: 15px;
    }
    
    main{
        flex-grow: 1;
    }

    header{
        left: 200px;
    }

    .sidebar li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
    }
    
    .sidebar img{
        width: 25%;
        height: 25%;
    }

    .sidebar span{
        margin-left: 5px;
    }

    .sidebar .fa-plus-square{
       font-size: 3em;
       margin-right: 10px;
    }
    
    
    .sidebar .invisible {
        display: flex;
        align-content: flex-start;
        font-size: 13px;
        margin-right: 30px;
        margin-bottom: 15px;
    }
    
    ul.invisible{
        flex-direction: column;
        overflow-y: auto;
    }

    .bottom-ul{
        display: block;
    }

    .bottom-ul img{
        width: 10%;
        height: 10%;
    }
    
    .bottom-ul hr{
        width: 30%;
    }
}


